In [122]:
import pandas as pd

In [123]:
from sklearn.linear_model import LinearRegression

In [124]:
from sklearn.metrics import mean_squared_error

In [125]:
from sklearn.model_selection import train_test_split

In [126]:
df = pd.read_csv('agri.csv')

In [127]:
df.head()

   month sunlight  temperature  humidity  electricity  rainfall  yield
0      1        m           20        63           90         0     80
1      2        m           22        55           80         0     70
2      3        h           25        47           90         0     50
3      4        h           28        34           70         0     45
4      5        h           30        33           60         0     50

In [128]:
df.shape

(36, 7)

In [129]:
def replace_sunlight(x):
    if x == 'h':
        return 3
    elif x == 'm':
        return 2
    else:
        return 1

In [130]:
df['sunlight'] = df['sunlight'].map(replace_sunlight)

In [131]:
sunlight_dummies = pd.get_dummies(df['sunlight'], drop_first=True, prefix='sunlight_')

In [132]:
X = df.drop(columns=['yield'], axis = 1)

In [133]:
X_new = pd.concat([X, sunlight_dummies], axis = 1)

In [134]:
X_new.drop(columns=['sunlight'], axis = 1, inplace=True)

In [135]:
y = df['yield']

In [136]:
X_new.head()

,month,temperature,humidity,electricity,rainfall,sunlight__2,sunlight__3
0,1,20,63,90,0,1,0
1,2,22,55,80,0,1,0
2,3,25,47,90,0,0,1
3,4,28,34,70,0,0,1
4,5,30,33,60,0,0,1

In [137]:
X_new.shape

(36, 7)

In [138]:
y.shape

(36,)

In [139]:
X_train,X_test,y_train,y_test = train_test_split(X_new, y, test_size = 0.3, random_state = 1)

In [140]:
X_train.shape

(25, 7)

In [141]:
X_test.shape

(11, 7)

In [142]:
lr = LinearRegression()

In [143]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [144]:
y_predict = lr.predict(X_test)

In [145]:
mse = mean_squared_error(y_test, y_predict)

In [146]:
import numpy as np

In [147]:
np.sqrt(mse)

19.91032374728843

In [148]:
import pickle

In [149]:
pickle.dump(lr, open('model.pkl', 'wb'))

In [150]:
model = pickle.load(open('model.pkl', 'rb'))

In [155]:
#month	temperature	humidity	electricity	rainfall	sunlight__2	sunlight__3
features = [np.array([1,20,63,90,0,0,1])]

In [156]:
model.predict(features)

array([76.03581348])